/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root {
	-fx-font-family: "OCR A Extended"
}

.default-color0.chart-pie { -fx-pie-color: #f69679; }
.default-color1.chart-pie { -fx-pie-color: #FFD700; }
.default-color2.chart-pie { -fx-pie-color: #a3d39c; }
.default-color3.chart-pie { -fx-pie-color: #7accc8; }
.default-color4.chart-pie { -fx-pie-color: #a186be; }